.large-hero {
	position: relative;
	width: 100%;
	min-height: 33rem;
	height: calc(100vh - 64px);
	background: url("../../assets/images/harbor-1213026_1920.jpg") no-repeat center center;
	background-size: cover;
	@mixin overlay;
	text-align: center;
	padding: 0;

	@mixin atLarge {
		margin-top: 64px;
	}

	&__text-content {
		padding-top: 20%;
		width: 85%;

		@mixin atLarge {
			padding-top: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__title,  &__subtitle {
		font-family: $fontFamilyHero;
		font-weight: 400;
		color: $accentColor;
	}

	&__title {
		font-size: 2.25rem;
		margin-bottom: 2rem;
		color: $light;

		@mixin atLarge {
			font-size: 3rem;
			margin-bottom: .5rem;
		}
	}

	&__subtitle {
		font-size: 1.125rem;
		margin-bottom: 2.2rem;
		color: $accentColor;

		@mixin atLarge {
			margin-bottom: 2rem;
		}
	}

	p {
		display: none;

		@mixin atLarge {
			display: block;
			width: 70%;
			margin: 0 auto;
			margin-bottom: 60px;
			color: $light;
		}
	}

	button {
		margin: 0 auto;
	}
}
